/*
カラー
グリーン　#5BBB96　アクセント
ライトブルー　#498BC1　header , main
ブルー　#47458B　ベースカラー

ライトグリーン　#EEF6E1　ヘッダー用
ライトレッド　#F9DFDA　ホバー用
ブラック　#484A42　フォント用
シャドウ　#DCDFD8　影用
*/
/*フォント*/
.kaisei-decol-regular {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kaisei-decol-medium {
    font-family: "Kaisei Decol", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kaisei-decol-bold {
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-style: normal;
  }
  /*フォントここまで*/

body {
    padding-top:40px;
    font-family:serif;
    background-color: #fefefe;
    display: flex;
    justify-content: space-around;
    color: #484A42;
}
header{
    font-family:"Kaisei Decol",serif;
    background-color: #EEF6E1;
    width: 25%;
}
header ul{
    width: 90%;
    height: auto;
    padding-left:0px;
    position:relative;
    margin:auto;
}
header ul li {
    width: 90%;
    height:30px;
    margin:auto;
    list-style:none;
}
li {
    list-style:none;
}
header ul li p{
    position:relative;
    text-align: center;
}
header ul li:hover {
background-color: #F9DFDA;
color:#ffffff;            

transition-property: all;
transition-duration: 150ms;
transition-timing-function: ease-in;
}

main{
    background-color: #EEF6E1;
    width: 65%;
    padding-bottom: 40px;
}
main div.flexbox{
    display: flex;
    justify-content: space-around;
}
.offDisplay{
    display:none;
}
/* .ondisplay{
    border-radius: 12em;
    box-shadow:3px 3px 5px 5px#555555;
    width: 90%;
    height: auto;
} */
    
h1{
    font-family:"Kaisei Decol",serif;
}
.textCenter{
    text-align: center;
}
div.images{
    width: 30%;
}
#twitter{
    position:relative;
}
#twitter div{
    position:relative;
    margin:auto ;
}

#topPage p{
    text-align: center;
}

#topPage img.meisarGimmick{
    width: 100%;
}

#profilePage .flexbox{
    justify-content: center;
}

#profilePage img{
    max-width: 200px;
}

#profilePage .smallImg {
    max-width: 50px;
}

div.linkIcons{
    width: 300px;
    height: 150px;
    position:relative;
    margin:auto;
}
.linkIcons img{
    position:relative;
    top: 3px; 
}

.linkIcons img:hover{
    top:0px;
}

.twitter-timeline{
    width:500px;
    /* data-width="500"*/
}

/*#uranaiエリアの設定*/
#uranai #keidai{
    margin-top: 20px;
    padding-top: 10px;
    background: url(../uranai/miya.png) no-repeat center center/contain;
    height: 300px;
}
#uranai .flexbox{
    justify-content: center;
}
#uranai p{
    margin:0;
}
#uranai h2{
    display: none;
}
#uranai h2.result{
    display: block;
    text-shadow: 0px 2px 3px #ffffff;
    font-size: 30px;
    text-align: center;
    margin:0;
    position:relative;
    top:-90px;
}
#uranai div{
    text-align: center;
    padding: auto;
}

#uranai p.abouts{
    /*background-color: #ffffff;*/
    background:url(../uranai/card.png) no-repeat center center/contain;
    position:relative;
    width: 256px;
    height:156px;
    padding-top:80px;
    text-align: center;
    margin:auto;
}

#uranai button{
    font-family: "Kaisei Decol", serif;
    background-color: #ffffff;

}

/*uranaiエリアここまで*/

/*Whitedayページここから*/
.flexbox{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
}
#CharaSelect ul{
    padding-left: 0;
}
#CharaSelect ul li p:hover {
    background-color: #F9DFDA;
    color:#ffffff;   
}
#selectArea ul{
    padding-left: 0;
    text-align: center;
}
#selectArea ul li{
    margin: auto;
    min-width: 60%;
    max-width: 80%;
    margin-bottom:2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: #F9DFDA;
}
.ondisplay{
    width: 100%;
    height: auto;
    text-align: center;
}
#Quest{
    text-align: center;
}
#ImgArea{
    width: 500px;
    height: 281.25px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; 
    margin-left: auto;
    margin-right: auto;
}
#InputText{
    width: 50%;
    height: 90%;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
}
#submitBtn{
    width:100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9DFDA;
}
/*Whitedayページここまで*/

@media screen and (max-width:700px){
    body{
        display: block;
    }
    header{
        width: 90%;
        height:40px;
        margin:auto;
    }
    header ul{
        display: flex;
        height:40px;
    }
    header ul li{
        height: 100%;
    }
    header ul li p{
        margin-top:10px;
    }
    main{
        width: 90%;
        margin:auto;
    }
    .twitter-timeline{
        width:90%;
        /* data-width="500"*/
    }
    #profilePage .flexbox{
        display:block;
    }
    #profilePage .flexbox div{
        text-align: center;
    }
    #profilePage .flexbox div ul{
        padding-left: 0%;
    }

    /*Game用*/
    #ImgArea{
        width: 100%;
        height: 200px;
    }
    #InputText{
        width: 50%;
        height: 70%;
        padding: 10px;
        font-size: 16px;
    }

}